<%= form_for(app_name) do |f| %>
  <% if app_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_name.errors.count, "error") %> prohibited this app_name from being saved:</h2>

      <ul>
      <% app_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
