<p id="notice"><%= notice %></p>

<h1>App Names</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_names.each do |app_name| %>
      <tr>
        <td><%= app_name.title %></td>
        <td><%= app_name.message %></td>
        <td><%= link_to 'Show', app_name %></td>
        <td><%= link_to 'Edit', edit_app_name_path(app_name) %></td>
        <td><%= link_to 'Destroy', app_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App Name', new_app_name_path %>
